.Search{
    text-align: center;
}
.Search>h2{
    font-size: 1.8rem;
    text-transform: uppercase;
    color: rgb(55, 4, 55);
}
input{
    height: 2.2rem;
    width: 14rem;
    border: none;
    outline: none;
    border-radius: 8px;
    text-indent: 12px;
}